{% extends 'superadmin/index.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br>

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        {% if not patient %}
                            <div>No Patient Prescription Info Here! </div>
                        {% else %}

                            <table class="table" id="datatable-buttons"  style="width:100%">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Patient Name</th>
                                        <th>Doctor Name</th>
                                        <th>Medicine Name</th>
                                        <th>Medicine Type</th>
                                        <th>Day Of Medicine</th>
                                        <th>Medicine Morning Time</th>
                                        <th>Medicine Lunch Time</th>
                                        <th>Medicine Dinner Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {% for patient in patient %}
                                        <tr>
                                          <th scope="row">{{ forloop.counter }}</th>
                                          <th>{{ patient.patient_name }}</th>
                                          <th>{{ patient.doctor_name }}</th>
                                          <th>{{ patient.medicine_name }}</th>
                                          <td>{{ patient.medicine_type }}</td>
                                          <td>{{ patient.day_of_medicine }} days</td>
                                          <td>
                                              {% if patient.morning %}
                                                1
                                              {% else %}
                                                0
                                              {% endif %}
                                          </td>
                                          <td>
                                             {% if patient.lunch %}
                                                1
                                              {% else %}
                                                0
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if patient.dinner %}
                                                1
                                              {% else %}
                                                0
                                              {% endif %}
                                          </td>
                                        </tr>
                                     {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<br>
<form method="get">
   {{ MyFilter.form }}
   <button class="btn btn-primary" type="submit">Search</button>
 </form>
<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>All Medicine Info <small>LIST</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        {% if not medicine_info %}
                            <div>No Medicine Info Here !</div>
                        {% else %}
                            <table class="table" id="datatable-buttons"  style="width:100%">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Username</th>
                                        <th>Medicine Name </th>
                                        <th>Medicine Type </th>
                                        <th>No. Of Medicine </th>
                                        <th>Medicine MG </th>
                                        <th>Medicine Expiry Date </th>
                                        <th>Give Medicine in Patient </th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {% for medicine_info in medicine_info %}
                                        <tr>
                                          <th scope="row">{{ forloop.counter }}</th>
                                          <th>{{ medicine_info.username }}</th>
                                          <td>{{ medicine_info.medicine_name }}</td>
                                          <td>{{ medicine_info.medicine_type }}</td>
                                          <td>{{ medicine_info.number_of_medicine }}</td>
                                          <td>{{ medicine_info.mg }}</td>
                                          <td>{{ medicine_info.expiry_date }}</td>
                                          <td>
                                              <a href="{% url 'give_prescription_to_patient' medicine_info.id %}" class="btn btn-success">Give Medicine in Patient</a>
                                          </td>
                                        </tr>
                                     {% endfor %}
                                </tbody>
                            </table>
                            {% if medicine_info.has_other_pages %}
                                    <nav aria-label="event-pagination" id="pagination">
                                        <ul class="pagination">
                                            {% if medicine_info.has_previous %}
                                              <li class="page-item"><a href="?page={{ medicine_info.previous_page_number }}" class="page-link">&laquo;</a></li>
                                            {% else %}
                                              <li class="page-item disabled" ><span class="page-link">&laquo;</span></li>
                                            {% endif %}
                                            {% for i in medicine_info.paginator.page_range %}
                                              {% if medicine_info.number == i %}
                                                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                              {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                              {% endif %}
                                            {% endfor %}
                                            {% if medicine_info.has_next %}
                                              <li class="page-item"><a class="page-link" href="?page={{ medicine_info.next_page_number }}">&raquo;</a></li>
                                            {% else %}
                                              <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>All Give Medicine To Patient <small>LIST</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        {% if not patient_medicine %}
                            <div>No Give Medicine Info Here !</div>
                        {% else %}
                            <table class="table" id="datatable-buttons"  style="width:100%">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Patient Name</th>
                                        <th>Medicine Name </th>
                                        <th>Medicine Type </th>
                                        <th>Give No. Of Medicine </th>
                                        <th>Medicine MG </th>
                                        <th>Medicine Expiry Date </th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {% for patient_medicine in patient_medicine %}
                                        <tr>
                                          <th scope="row">{{ forloop.counter }}</th>
                                          <th>{{ patient_medicine.patient_name }}</th>
                                          <td>{{ patient_medicine.medicine.medicine_name }}</td>
                                          <td>{{ patient_medicine.medicine.medicine_type }}</td>
                                          <td>{{ patient_medicine.give_number_of_medicine }}</td>
                                          <td>{{ patient_medicine.medicine.mg }}</td>
                                          <td>{{ patient_medicine.medicine.expiry_date }}</td>
                                        </tr>
                                     {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}