{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Donor Give Medicine Page</h2>
          <ol>
            <li><a href="{% url 'base' %}">Home</a></li>
            <li>Donor Give Medicine</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->
    <br>
    <form method="post" role="form" class="text-center">
        {% csrf_token %}
          <div class="form-row">
            <div class="col-md-9 form-group">
              {{ form|crispy }}
            </div>
          </div>
          <div class="form-row">
              <div class="col-md-9 form-group">
                  <div class="text-center">
                        <input type="submit" class="form-control" name="submit">
                  </div>
              </div>
          </div>
    </form>
<br>
{% endblock content %}
